h1{
    text-align: center;
}
.rr{
    background-color: rgb(253, 14, 145);
    color: darkgrey;
    border: rgb(46, 133, 6) solid 5px;
    width: 500px;
    margin: auto;
    padding: 20px 
}
.hh{
    background-color: rgb(253, 14, 145);
    color: darkgrey;
    border: rgb(46, 133, 6) solid 5px;
    width: 500px;
    margin: auto;
    padding: 20px;
}
.gg{
    
}
span{
    color: black;
}
